.defaultPopoutDialog {
/*    position: absolute;
    border-radius: 5px;
    background: #fff;
    display: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    z-index: 9999999;*/
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.goal_popout_h2 {
    margin-left: 20px;
}
#header{
    margin-left:5%;
}
#header h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
#pageUrlPattern{
    margin: 15px;
}

#isEndPoint{
    margin: 5px;
}

.statistic_table{
    margin:50px;
    padding: 10px;
}
.sites_table{
    width: 30%;
    float:left;
}
.goal_popout_button{
    margin: 15px;
}
.defaultPopoutDialog .close {
    position: absolute;
    top: 0px;
    right: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    color: #434343;
    padding: 20px;
    font-size: 20px;
}

.defaultPopoutDialog .close:hover {
    color: #000;
}

.defaultPopoutDialog h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
.defaultPopoutDialog .top {
    padding: 20px;
}

.defaultPopoutDialog .bottom {
    background: #eee;
    border-top: 1px solid #e5e5e5;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*#blackout {*/
    /*background: rgba(0,0,0,0.3);*/
    /*position: absolute;*/
    /*top: 0;*/
    /*overflow: hidden;*/
    /*z-index: 999999;*/
    /*left: 0;*/
    /*display: none;*/
/*}*/