<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
  <head>
      <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.css}" th:rel="stylesheet"/>
      <link rel="stylesheet" th:href="@{/resources/css/main.css}" th:rel="stylesheet"/>
      <script type="text/javascript" th:src="@{/resources/js/jquery.js}" />
      <script type="text/javascript"  th:src="@{/resources/js/main.js}" />
    <title>Arbitrage</title>
  </head>
  <body>
  <div class="container">
      <div class="jumbotron">
  <div sec:authorize="isAuthenticated()">
      <h2> Welcome!</h2>
      <p>You logged as: <div th:text="${#authentication.name}">
  </div></p>

      <h2>Your sites:</h2>
      <table th:unless="${#lists.isEmpty(currentUserSites)}" class="table table-hover table-bordered">
          <thead>
              <tr class="success">
                  <td>URL</td>
                  <td>Has been added:</td>
              </tr>
          </thead>
          <tbody class="sites_table">
              <tr th:each="site : ${currentUserSites}" class="info">
                  <td><a th:text="${site.url}" th:href="@{/site/(id=${site.id})}"></a></td>
                  <!--<td th:text="${cont.firstname}">The last name</td>-->
              </tr>
          </tbody>
      </table>
      <button class="btn btn-primary" onclick="showAddSiteDialog()">Add site</button>
      <div class="addSiteDialog">
          <div class="close" onclick="closeAddSiteDialog()">X</div>
          <div class="top">
              <h2>Write site url</h2>
          </div>
          <div class="bottom">
              <input type="text" id="newSiteURL" placeholder="URL"/>
              <button class="btn btn-primary" onclick="addSite()">Add site</button>
          </div>
      </div>
  </div>
  </div>
  </div>
  </body>
</html>
