<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
  <head>
      <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.css}" th:rel="stylesheet"/>
    <title>Arbitrage</title>
  </head>
  <body>
  <div class="container">
      <div class="jumbotron">
  <div sec:authorize="isAuthenticated()">
      <p>Welcome!</p>
      <div th:text="${#authentication.name}">
      </div>
      <h2>Your sites:</h2>
      <table th:unless="${#lists.isEmpty(currentUserSites)}" class="table table-hover table-bordered">
          <thead>
          <tr class="success">
              <td>URL</td>
              <td>Has been added:</td>
          </tr>
          </thead>
          <tr th:each="site : ${currentUserSites}" class="info">
              <td><a th:text="${site.url}" th:href="@{/site/(id=${site.id})}"></a></td>
              <!--<td th:text="${cont.firstname}">The last name</td>-->
          </tr>
      </table>
  </div>
  </div>
  </div>
  <!--<div sec:authorize="hasRole('ADMIN')">-->
      <!--<div th:text="${#authentication.name}">-->
          <!--The value of the "name" property of the authentication object should appear here.-->
      <!--</div>-->
  <!--</div>-->
  </body>
</html>
