<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>You site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.css}" th:rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}" th:rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery.js}" />
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.js}"/>
</head>
<body>
<div th:if="${currentSite} == null">
<h2>Site cannot be found</h2>
</div>
<div th:if="${currentSite} != null">
<div class="container>">
    <div class="jumbotron">
<h2 th:text="${currentSite.getUrl()}"></h2>


        <div th:if="${statistic} != null">
            <table class="table table-hover table-bordered sites_table">
                <thead>
                    <tr>
                        <td>
                            First visits
                        </td>
                        <td>
                            Second visits
                        </td>
                        <td>
                            Orders
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${statistic.getFirstVisits()}"></td>
                        <td th:text="${statistic.getSecondVisits()}"></td>
                        <td th:text="${statistic.getOrderCount()}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-link" ype="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Show script</button>
        <button class="btn btn-primary"  data-toggle="modal" data-target=".defaultPopoutDialog">Build script</button>
        <div class="modal fade defaultPopoutDialog" tabindex="-1" role="dialog"   aria-hidden="true">
            <div class="modal-dialog modal-sm ">
                <div class="modal-content">
                    <div class="model-header">
                        <div class="top">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                            <h2 class="modal-title"> Build script</h2>
                        </div>
                    </div>
                    <h2>Select forms for orders</h2>
                    <div class="bottom ">
                        <ul class="dropdown-menu btn-group" role="menu" aria-labelledby="dropdownMenu" >
                            <li th:each="form : ${currentSite.forms}">
                                <input type="checkbox" th:text="${form.formId}" th:value="${form.formId}"/>
                            </li>
                        </ul>
                        <button class="btn btn-primary" >Generate script</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="well">
                <div th:text="${currentSite.getScript()}"></div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>
</html>