<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>You sites</title>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.css}" th:rel="stylesheet"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:if="${currentSite} == null">
<h2>Site cannot be found</h2>
</div>
<div th:if="${currentSite} != null">
<div class="container>">
    <div class="jumbotron">
<h2 th:text="${currentSite.getUrl()}"></h2>

        <button class="btn btn-link">Script</button>
        <button class="btn btn-link">Statistic</button>

        <div th:if="${statistic} != null">
            <div th:text="${statistic.getFirstVisits()}"></div>
        </div>
        <div th:if="${statistic} == null">
            <div th:text="ozozozo"></div>
        </div>

    </div>
    </div>
</div>
</body>
</html>