<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>You site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/resources/bootstrap/css/bootstrap.css}" th:rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/resources/css/main.css}" th:rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery.js}"/>
    <script type="text/javascript" th:src="@{/resources/bootstrap/js/bootstrap.js}"/>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"/>
    <script type="text/javascript" th:src="@{/resources/js/Chart.js}"/>
    <script>console.log(date2string(new Date(1431562574204)))</script>

</head>
<body>
<div th:if="${currentSite} == null">
    <h2>Site cannot be found</h2>
</div>
<div th:if="${currentSite} != null">
    <div class="container>">
        <div class="jumbotron">
            <div class="navbar navbar-fixed-top navbar-inverse">
                <button class="btn btn-link" ype="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">Show script
                </button>
                <button class="btn btn-link" data-toggle="modal" data-target=".defaultPopoutDialog">Create goal
                </button>
                <a class="btn btn-link" href="statistic">Show Detail Statistic</a>
                <button class="btn btn-link" data-toggle="modal" data-target=".defaultPopoutDialog">Add current site to group
                </button>
                <a class="btn btn-link" href="/index">Back to User Page
                </a>

                <div class="modal fade defaultPopoutDialog" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-sm ">
                        <div class="modal-content">
                            <div class="model-header">
                                <div class="top">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">x</span></button>
                                    <h2 class="modal-title"> Create Goal</h2>
                                </div>
                            </div>
                            <div class="bottom">
                                <h2 class="goal_popout_h2">Write URL string for goal </h2>
                                <input type="text" id="pageUrlPattern" placeholder="Page pattern"/>
                                <br/>
                                <label for="isEndPoint"> Is end point?</label><input type="checkbox" id="isEndPoint"/>
                                <br/>
                                <button class="btn btn-primary goal_popout_button" onclick="addGoal()">Add goal</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="collapse" id="collapseExample">
                    <div class="well">
                        <!--<div th:text="${currentSite.getScript()}"></div>-->
                    </div>
                </div>
            </div>
            <div id="center">
               <div class="preview"> <img th:src="${currentSite.getPreviewPath()}" width="300" height="300"/></div>
                <div class="mainInformation">
                    <h2>Main information</h2>
                    <p th:text="${currentSite.getUrl()}"></p>
                    <p>Owner:Nick</p>
                    <p>Available for groups: Arbitrage, ArbitrageManagers</p>
                    <p>Was been added: 2015-05-14</p>
                    <p>All visit count: 27</p>
                </div>
            </div>
            <!--<div class="statistic_table" th:if="${statistic} != null">-->
                <!--<table class="table table-hover table-bordered sites_table">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<td>-->
                            <!--First visits-->
                        <!--</td>-->
                        <!--<td>-->
                            <!--Second visits-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr>-->
                        <!--<td th:text="${statistic.getFirstVisits()}"></td>-->
                        <!--<td th:text="${statistic.getSecondVisits()}"></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
                <!--<div width="30%">-->
                    <!--<canvas id="canvas" height="150" width="600"></canvas>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
</body>
</html>