<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<table th:unless="${#lists.isEmpty(currentUserSites)}">
    <tr th:each="site : ${currentUserSites}">
        <td th:text="${site.url}">URL</td>
        <td th:text="${site.guid}">GUID</td>
        <!--<td th:text="${cont.firstname}">The last name</td>-->
    </tr>
</table>

</body>
</html>